.slider{
    @include createFlex(row,flex-start,center,null);
    &__item{
        cursor: pointer;
        padding:8px 20px;
        box-sizing: border-box;
        @include createFlex(row,center,center,null);
        p{
            margin-left: -20px;
        }
        &.active{
            border-bottom: 3px solid white;
        }
        &:hover{
            background-color: $nav-light-blue;
        }
    }
}