.flights {
    padding: 30px 0px 0px;
    background-color: $form-bg;
    @include breakpoint-down(medium) {
        min-height: 70vh;
    }
    &__content {
        padding: 0px 80px;
        @include breakpoint-down(medium) {
            padding: 0px 20px;
        }
    }
    .alert-n {
        a {
            color: blue;
        }
    }
}

.footer {
    p {
        text-align: center;
    }
}