.accordion-ext {
    min-width: 50%;
    width: calc(100% - 140px);
    margin: 50px auto;
    @include breakpoint-down(small) {
        min-width: 100%;
    }
    a {
        color: $sky-blue;
        font-weight: bold;
        text-decoration: underline;
    }
    &__title {
        color: black;
    }
    &__group {
        border: 0px !important;
    }
    &__item {
        border: 0px !important;
    }
}

.taxi {
    &__hero {
        position: relative;
        top: 0px;
        left: 0px;
        margin: 0px;
        padding: 0px;
        height: 60vh;
        padding: 0px 70px;
        background-image: url("/taxi-hero.webp");
        background-size: cover;
        @include createFlex(row,
        flex-start,
        center,
        null);
        @include breakpoint-down(medium-sm) {
            padding: 0px 20px;
        }
        @include breakpoint-down(small) {
            height: 100%;
            padding: 0px;
            background-image: none;
            background-color: $very-light-blue;
        }
        h1 {
            margin: 0px;
        }
    }
    &__overlay {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: rgb(4, 4, 158);
        opacity: 0.5;
        @include breakpoint-down(small) {
            display: none;
        }
    }
    &__hero-text {
        position: relative;
        top: 0px;
        left: 0px;
        z-index: 2;
        @include breakpoint-down-l(medium) {
            left: -4%;
        }
        @media(max-device-width:767px) and (orientation:landscape) {
            left: 0px;
        }
        h1,
        h3 {
            color: white;
            margin: 5px 0px;
            @include breakpoint-down(small) {
                color: black;
            }
        }
    }
    &__feature {
        @include createFlex(row,
        space-between,
        center,
        null);
        padding: 15px 70px;
        background-color: $form-bg;
        @include breakpoint-down(medium) {
            @include createFlex(column,
            center,
            flex-start,
            null);
            padding: 15px 0px;
            background-color: transparent;
        }
    }
    &__feature-item {
        @include createFlex(row,
        space-between,
        flex-start,
        null);
        @include breakpoint-down(medium) {
            margin: 20px 0px;
        }
        h3,
        p {
            margin: 3px 0px;
        }
        h3 {
            font-size: pxToRem(18);
        }
        p {
            color: $font-gray;
        }
        &:first-of-type {
            .taxi__feature-logo {
                background-color: $light-green;
            }
        }
        &:nth-of-type(2) {
            .taxi__feature-logo {
                background-color: $light-beige;
            }
        }
        &:last-of-type {
            .taxi__feature-logo {
                background: $very-light-blue;
            }
        }
    }
    &__feature-logo {
        margin: 0px 10px;
        @include createFlex(row,
        center,
        center,
        null);
        padding: 18px;
        border-radius: 100%;
    }
    &__article {
        padding: 0px 70px;
        @include breakpoint-down(small) {
            padding: 0px;
        }
        h2 {
            text-align: center;
            font-size: pxToRem(40);
            font-weight: $f-reg;
            @include breakpoint-down(small) {
                font-size: pxToRem(30);
            }
        }
    }
    &__article-main {
        @include createFlex(row,
        space-between,
        flex-start,
        null);
        @include breakpoint-down(medium) {
            @include createFlex(column,
            center,
            flex-start,
            null);
        }
    }
    &__article-list {
        width: 50%;
        @include breakpoint-down(medium) {
            margin-left: 50px;
            width: 70%;
        }
        @include breakpoint-down(small) {
            width: 95%;
            margin: 0px auto;
        }
    }
    &__article-item {
        margin: 80px 0px;
        @include createFlex(row,
        flex-start,
        center,
        null);
        h3,
        p {
            margin: 0px;
        }
        h3 {
            margin-bottom: 10px;
            font-weight: $f-bold;
        }
        p {
            color: $font-gray;
        }
        img {
            margin: 0px 15px;
            width: 25%;
        }
    }
    &__article-image {
        width: 50%;
        @include breakpoint-down(medium) {
            width: 100%;
        }
        @include breakpoint-down(small) {
            position: relative;
            left: -20%;
            top: 0px;
            width: 150%;
        }
        img {
            display: block;
            margin-left: auto;
            width: 90%;
            @include breakpoint-down(medium) {
                margin: 0px auto;
                width: 50%;
            }
        }
        p {
            margin-left: 30px;
            margin-top: -5px;
            @include breakpoint-down(medium) {
                margin-left: 17%;
            }
        }
    }
    &__article-message {
        position: relative;
        top: 0px;
        left: 40px;
        z-index: 2;
        background-color: lightgray;
        padding: 10px;
        border-radius: 5px;
        @include breakpoint-down(medium) {
            left: 19%;
        }
        &:before {
            content: "";
            position: absolute;
            top: 35px;
            left: 15px;
            z-index: 2;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid lightgray;
        }
    }
    &__tabs {
        background-color: $form-bg;
        padding: 30px 70px;
        @include breakpoint-down(medium) {
            padding: 0px;
        }
        &>h2 {
            text-align: center;
        }
    }
    &__tabs-nav {
        @include breakpoint-down(medium) {
            display: none;
        }
        ul {
            margin: 0px;
            padding: 0px;
            list-style-type: none;
            @include createFlex(row,
            flex-start,
            center,
            null);
            li {
                cursor: pointer;
                padding: 10px 15px;
                background-color: #fff;
                border: 1px solid $sky-blue;
                color: $sky-blue;
                &:first-of-type {
                    border-top-left-radius: 3px;
                    border-bottom-left-radius: 3px;
                }
                &:last-of-type {
                    border-top-right-radius: 3px;
                    border-bottom-right-radius: 3px;
                }
                &.active {
                    background-color: $sky-blue;
                    color: white;
                }
            }
        }
    }
    &__tab,
    &__tab-content-top,
    &__tab-content-bottom {
        @include createFlex(row,
        space-between,
        flex-start,
        wrap);
        @include breakpoint-down(medium) {
            flex-wrap: nowrap;
        }
    }
    &__tab-content-top,
    &__tab-content-bottom {
        min-width: 100%;
        @include breakpoint-down(medium) {
            min-width: 200%;
        }
        @include breakpoint-down(small) {
            min-width: 300%;
        }
    }
    &__tab {
        display: none;
        &:first-of-type {
            display: flex;
        }
        @include breakpoint-down(small) {
            transform: translateX(-20%);
        }
    }
}