$nav-blue:#003580;
$nav-light-blue:#043d8d;
$sky-blue:#0071c2;
$beige:#fff0e0;
$beige-border:#c7b8a8;
$beige-rentals:#fff0e0;
$form-text:#333;
$form-bg:#f5f5f5;
$white:rgb(242, 241, 241);
$accordion-icon:#923e01;
$yellow:#febb02;
$dark-blue:#00224f;
$green:#008009;
$light-gray:#f5f5f5;
$light-green:#e7fde9;
$light-beige:#fff0e0;
$very-light-blue:#ebf3ff;
$font-gray:rgb(102, 102, 102);
// fonts
$f-fam: 'Josefin Sans', sans-serif;
$f-fam-b:'Raleway', sans-serif;
$f-slim:300;
$f-reg:400;
$f-bold:600;
